.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  max-width: 1184px;
  align-self: center;
  margin: 118px auto 92px;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 90px 24px 88px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin: 90px 16px 62px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}
