.places__title {
  font-weight: 900;
  line-height: 1.06;
  font-size: 72px;
  grid-area: title;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .places__title {
    line-height: 1.1;
    font-size: 42px;
  }
}

@media screen and (max-width: 320px) {
  .places__title {
    line-height: 1.09;
    font-size: 32px;
    margin-right: 16px;
    margin-left: 16px;
  }
}
