.buy-botton {
  text-decoration: none;
  color: white;
  background-color: #0278fe;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  padding: 13px 20px;
  transition: background-color 0.4s;
}

.buy-botton:hover {
  background-color: #0063d2;
}
