.places__roll {
  font-weight: normal;
  line-height: 15px;
  font-size: 12px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 0 0 8px;
}

@media screen and (max-width: 320px) {
  .places__roll {
    margin-left: 16px;
    margin-right: 16px;
  }
}
