@font-face {
  font-family: Inter;
  src: url(./Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(./Inter/static/Inter-SemiBold.ttf);
}

@font-face {
  font-family: Inter;
  src: url(./Inter/static/Inter-Black.ttf);
}
