.buy-button_size_large {
  grid-area: button;
  text-align: center;
  max-width: 248px;
}

@media screen and (max-width: 320px) {
  .buy-button_size_large {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 288px;
  }
}
