.cover {
  background-image: url(../../images/__background.png);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 740px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-size: cover;
  position: relative;
  max-width: 1184px;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 746px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 254px;
    margin: 64px auto 0;
  }
}
