.buy-button {
  text-decoration: none;
  color: white;
  background-color: #0278fe;
  border-radius: 4px;
  padding: 13px 20px;
  transition: background-color 0.4s;
  box-sizing: border-box;
  margin: 0;
}

.buy-button:hover {
  background-color: #0063d2;
}
