.places__place {
  display: grid;
  gap: 48px 40px;
  grid-template-columns: 460px 1fr;
  /*max-width: 984px;*/
  grid-template-areas:
    "title artist"
    "image text"
    "botton text";
  margin: 80px 0 0;
}
