.places__place {
  display: grid;
  gap: 48px 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title artist"
    "image text"
    "button text";
  margin-bottom: 80px;
}

.places__place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .places__place {
    gap: 46px 28px;
    grid-template-columns: 340px 1fr;
    grid-template-rows: 1fr 340px;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 660px) {
  .places__place {
    gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "text"
      "button";
    margin-bottom: 50px;
  }
}
